body {
    background-image: url(img/airplane.jpg);
}

footer {
    background-color: rgb(58, 54, 54);
    text-align: center;
    position: fixed;
    justify-content: center;
    bottom: 0;
    width: 100%;
    height: 20px;
    color: white;
}
