body {
    background-image: url(img/airplane.jpg);
}

header nav h2 {
    color: white;
}

h1 {
    text-align: center;
    padding-top: 350px;
}

footer {
    background-color: orange;
    text-align: center;
    position: fixed;
    justify-content: center;
    bottom: 0;
    width: 100%;
    height: 20px;
}